.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #3b5b8b;
    color: #fff;
    height: 60px;
}

.header {
    cursor: pointer;
    margin: auto 20px;
}

.header span {
    color: #cdcdcd;
}

.links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: auto 20px;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    .header {
        width: 50%;
    }
    
    .links {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        padding: 0;
    }
    
    .header {
        margin: 10px auto 0;
    }
    
    .links {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (min-width: 450px) and (max-width: 700px) {
    .navbar {
        height: 70px;
    }
    
    .header {
        margin: 0 auto;
        text-align: center;
    }
    
    .links {
    }
}

@media only screen and (max-width: 450px) {
    .navbar {
        height: 70px;
    }
    
    .header {
        font-size: 20px;
        margin: 5px auto 0;
        text-align: center;
    }
}