.recipe-card {
    background: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    margin: 1%;
    width: 31%;
    max-width: 360px;
    min-width: 240px;
    text-align: center;
}

.recipe-card-img {
    overflow: hidden;
    height: 250px;
}

.recipe-card img {
    width: auto;
    height: 300px;
    vertical-align: middle;
    /*max-height: 250px;*/
}

.recipe-card-content {
    padding: 16px;
}

.recipe-title {
    margin: 0;
}

.ingredients {
    padding: 0;
}

.ingredient {
    list-style-type: none;
}